services:
  mongodb:
    image: mongo:7.0
    container_name: task-mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: pass123
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  server:
    build: ./server
    container_name: task-server
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://admin:pass123@mongodb:27017/taskdb?authSource=admin
      - PORT=3000
    ports:
      - "5001:3000"
    depends_on:
      - mongodb
    networks:
      - app-network

  client:
    build: ./client
    container_name: task-client
    restart: unless-stopped
    environment:
      - REACT_APP_API_URL=http://localhost:5001
    ports:
      - "3001:3000"
    depends_on:
      - server
    networks:
      - app-network
    stdin_open: true

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge