* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background: #f7f5f2;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}
